In [1]:
import pandas as pd

### 1) Carregue o arquivo books.csv utilizando o pandas.

In [2]:
data = pd.DataFrame(pd.read_csv ('books.csv', sep = ','))
print(data)

      Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

     Date of Publication                Publisher  \
0            1879 [1878]         S. Tinsley & Co.
1                   1868             Virtue & Co.
2                   1869    Bradbury, Evans & Co.
3                   1851            James Darling
4                   1857     Wertheim & Macintosh
...                  ...                      ...
8282                1838                      NaN
8283            1831, 32          M. Mozley & Son
8284           [1806]-22  T. Cadell and W. Davies
8285                1834         Mackenzie & Dent
8286             1834-43                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors  Corporate Author  \
0                                       FORBES, Walter.               NaN
1          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
2          BLAZE DE BURY, Marie Pauline Rose - Baroness               NaN
3                           Appleyard, Ernest Silvanus.               NaN
4                                   BROOME, John Henry.               NaN
...                                                 ...               ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...               NaN
8283                                     NOBLE, Thomas.               NaN
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S               NaN
8285                               ROSS, M. - of Durham               NaN
8286            BANDINEL, Bulkeley.|Nichols, John Gough               NaN

      Corporate Contributors Former owner  Engraver Issuance type  \
0                        NaN          NaN       NaN   monographic
1                        NaN          NaN       NaN   monographic
2                        NaN          NaN       NaN   monographic
3                        NaN          NaN       NaN   monographic
4                        NaN          NaN       NaN   monographic
...                      ...          ...       ...           ...
8282                     NaN          NaN       NaN   monographic
8283                     NaN          NaN       NaN   monographic
8284                     NaN          NaN       NaN   monographic
8285                     NaN          NaN       NaN   monographic
8286                     NaN          NaN       NaN    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]

### 2) Elimine as colunas 'Corporate Author', 'Corporate Contributors', 'Former owner' e 'Engraver'.

In [3]:
data = data.drop(['Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver'], axis=1)

### 3) Verifique se a coluna 'Identifier' é única e, em caso afirmativo, atribua esta coluna como índice do conjunto de dados.

In [4]:
print(data['Identifier'].is_unique)

True

### 4) Extrair a data de publicação de modo que somente o ano com quatro posições seja recuperado. Armazene o resultado em uma variável.

In [5]:

resutado = data['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
print(resutado)

0       1879
1       1868
2       1869
3       1851
4       1857
        ...
8282    1838
8283    1831
8284     NaN
8285    1834
8286    1834
Name: Date of Publication, Length: 8287, dtype: object

### 5) Inclua a nova coluna (armazenada no exercício anterior) no conjunto de dados e, após isso, elimine a coluna 'Date of Publication'.

In [7]:
#Inclua a nova coluna (armazenada no exercício anterior) no conjunto de dados e, após isso, elimine a coluna 'Date of Publication'
data['New Date of Publication'] = resutado
data = data.drop(['Date of Publication'], axis=1)
print(data)

      Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

                    Publisher  \
0            S. Tinsley & Co.
1                Virtue & Co.
2       Bradbury, Evans & Co.
3               James Darling
4        Wertheim & Macintosh
...                       ...
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors Issuance type  \
0                                       FORBES, Walter.   monographic
1          BLAZE DE BURY, Marie Pauline Rose - Baroness   monographic
2          BLAZE DE BURY, Marie Pauline Rose - Baroness   monographic
3                           Appleyard, Ernest Silvanus.   monographic
4                                   BROOME, John Henry.   monographic
...                                                 ...           ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...   monographic
8283                                     NOBLE, Thomas.   monographic
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S   monographic
8285                               ROSS, M. - of Durham   monographic
8286            BANDINEL, Bulkeley.|Nichols, John Gough    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks  \
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

     New Date of Publication
0                       1879
1                       1868
2                       1869
3                       1851
4                       1857
...                      ...
8282                    1838
8283                    1831
8284                     NaN
8285                    1834
8286                    1834

[8287 rows x 11 columns]

### 6) Salve o resultado do processamento em um arquivo csv.

In [8]:
data.to_csv('books_limpo.csv', sep=',', index=False)

### 7) Realize uma contagem agrupando pela coluna 'New Date of Publication'. Sugestão: Pesquise o método groupby().

In [9]:
print(data.groupby('New Date of Publication').count())

                         Identifier  Edition Statement  Place of Publication  \
New Date of Publication
1510                              1                  0                     1
1540                              1                  0                     1
1570                              1                  0                     1
1592                              1                  0                     1
1602                              1                  0                     1
...                             ...                ...                   ...
1898                            140                  2                   140
1899                            132                  6                   132
1900                              1                  0                     1
1911                              1                  0                     1
1915                              1                  0                     1

                         Publisher  Title  Author  Contributors  \
New Date of Publication
1510                             1      1       0             1
1540                             1      1       1             1
1570                             0      1       0             1
1592                             1      1       1             1
1602                             1      1       1             1
...                            ...    ...     ...           ...
1898                            99    140     127           140
1899                            96    132     125           132
1900                             1      1       1             1
1911                             0      1       1             1
1915                             1      1       1             1

                         Issuance type  Flickr URL  Shelfmarks
New Date of Publication
1510                                 1           1           1
1540                                 1           1           1
1570                                 1           1           1
1592                                 1           1           1
1602                                 1           1           1
...                                ...         ...         ...
1898                               140         140         140
1899                               132         132         132
1900                                 1           1           1
1911                                 1           1           1
1915                                 1           1           1

[254 rows x 10 columns]

### 8) Considerando o conteúdo da Unidade 3 visto até o momento elabore 5 (cinco) exemplos que envolvam limpeza e preparação de dados.

In [10]:
#identificar valores nulos no conjunto de dados
print(data.isnull().sum())

Identifier                    0
Edition Statement          7514
Place of Publication          0
Publisher                  4195
Title                         0
Author                     1778
Contributors                  0
Issuance type                 0
Flickr URL                    0
Shelfmarks                    0
New Date of Publication     971
dtype: int64

In [15]:
#substituir os valores nulos da coluna 'Place of Publication' por 'London'
data['Place of Publication'] = data['Place of Publication'].fillna('London')
print(data)

      Identifier             Edition Statement      Place of Publication  \
0            206                           NaN                    London
1            216                           NaN  London; Virtue & Yorston
2            218                           NaN                    London
3            472                           NaN                    London
4            480  A new edition, revised, etc.                    London
...          ...                           ...                       ...
8282     4158088                           NaN                    London
8283     4158128                           NaN                     Derby
8284     4159563                           NaN                    London
8285     4159587                           NaN       Newcastle upon Tyne
8286     4160339                           NaN                    London

                    Publisher  \
0            S. Tinsley & Co.
1                Virtue & Co.
2       Bradbury, Evans & Co.
3               James Darling
4        Wertheim & Macintosh
...                       ...
8282                      NaN
8283          M. Mozley & Son
8284  T. Cadell and W. Davies
8285         Mackenzie & Dent
8286                      NaN

                                                  Title  \
0                     Walter Forbes. [A novel.] By A. A
1     All for Greed. [A novel. The dedication signed...
2     Love the Avenger. By the author of “All for Gr...
3     Welsh Sketches, chiefly ecclesiastical, to the...
4     [The World in which I live, and my place in it...
...                                                 ...
8282  The Parochial History of Cornwall, founded on,...
8283  The History and Gazetteer of the County of Der...
8284  Magna Britannia; being a concise topographical...
8285  An historical, topographical and descriptive v...
8286  Collectanea Topographica et Genealogica. [Firs...

                                                 Author  \
0                                                 A. A.
1                                             A., A. A.
2                                             A., A. A.
3                                             A., E. S.
4                                             A., E. S.
...                                                 ...
8282                 GIDDY, afterwards GILBERT, Davies.
8283                         GLOVER, Stephen - of Derby
8284  LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
8285                              Mackenzie, E. (Eneas)
8286                                                NaN

                                           Contributors Issuance type  \
0                                       FORBES, Walter.   monographic
1          BLAZE DE BURY, Marie Pauline Rose - Baroness   monographic
2          BLAZE DE BURY, Marie Pauline Rose - Baroness   monographic
3                           Appleyard, Ernest Silvanus.   monographic
4                                   BROOME, John Henry.   monographic
...                                                 ...           ...
8282  BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...   monographic
8283                                     NOBLE, Thomas.   monographic
8284           GREGSON, Matthew.|LYSONS, Samuel - F.R.S   monographic
8285                               ROSS, M. - of Durham   monographic
8286            BANDINEL, Bulkeley.|Nichols, John Gough    continuing

                                             Flickr URL  \
0     http://www.flickr.com/photos/britishlibrary/ta...
1     http://www.flickr.com/photos/britishlibrary/ta...
2     http://www.flickr.com/photos/britishlibrary/ta...
3     http://www.flickr.com/photos/britishlibrary/ta...
4     http://www.flickr.com/photos/britishlibrary/ta...
...                                                 ...
8282  http://www.flickr.com/photos/britishlibrary/ta...
8283  http://www.flickr.com/photos/britishlibrary/ta...
8284  http://www.flickr.com/photos/britishlibrary/ta...
8285  http://www.flickr.com/photos/britishlibrary/ta...
8286  http://www.flickr.com/photos/britishlibrary/ta...

                                             Shelfmarks  \
0                     British Library HMNTS 12641.b.30.
1                     British Library HMNTS 12626.cc.2.
2                     British Library HMNTS 12625.dd.1.
3                   British Library HMNTS 10369.bbb.15.
4                      British Library HMNTS 9007.d.28.
...                                                 ...
8282  British Library HMNTS|British Library HMNTS 10...
8283  British Library HMNTS|British Library HMNTS 10...
8284  British Library HMNTS|British Library HMNTS 19...
8285  British Library HMNTS|British Library HMNTS 10...
8286  British Library HMNTS|British Library HMNTS 79...

     New Date of Publication
0                       1879
1                       1868
2                       1869
3                       1851
4                       1857
...                      ...
8282                    1838
8283                    1831
8284                     NaN
8285                    1834
8286                    1834

[8287 rows x 11 columns]

In [16]:
# contar livros por autor
print(data.groupby('Author').count())

                                                 Identifier  \
Author
A'BECKETT, Gilbert Abbott.                                3
A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)            1
A. A.                                                     1
A., A. A.                                                 2
A., E. S.                                                 3
...                                                     ...
ZURCHER, Frédéric - and MARGOLLÉ (Élie)               1
ZWICK, Heinrich August.                                   1
ZWIEDINEK VON SUEDENHORST, Julius.                        1
ŻÓŁKIEWSKI, Stanisław - Hetman Wielki Koronny           1
ŁUKASZEWICZ, Józef - Historian                           1

                                                 Edition Statement  \
Author
A'BECKETT, Gilbert Abbott.                                       2
A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)                   0
A. A.                                                            0
A., A. A.                                                        0
A., E. S.                                                        2
...                                                            ...
ZURCHER, Frédéric - and MARGOLLÉ (Élie)                      0
ZWICK, Heinrich August.                                          0
ZWIEDINEK VON SUEDENHORST, Julius.                               0
ŻÓŁKIEWSKI, Stanisław - Hetman Wielki Koronny                  0
ŁUKASZEWICZ, Józef - Historian                                  0

                                                 Place of Publication  \
Author
A'BECKETT, Gilbert Abbott.                                          3
A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)                      1
A. A.                                                               1
A., A. A.                                                           2
A., E. S.                                                           3
...                                                               ...
ZURCHER, Frédéric - and MARGOLLÉ (Élie)                         1
ZWICK, Heinrich August.                                             1
ZWIEDINEK VON SUEDENHORST, Julius.                                  1
ŻÓŁKIEWSKI, Stanisław - Hetman Wielki Koronny                     1
ŁUKASZEWICZ, Józef - Historian                                     1

                                                 Publisher  Title  \
Author
A'BECKETT, Gilbert Abbott.                               3      3
A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)           0      1
A. A.                                                    1      1
A., A. A.                                                2      2
A., E. S.                                                3      3
...                                                    ...    ...
ZURCHER, Frédéric - and MARGOLLÉ (Élie)              0      1
ZWICK, Heinrich August.                                  0      1
ZWIEDINEK VON SUEDENHORST, Julius.                       0      1
ŻÓŁKIEWSKI, Stanisław - Hetman Wielki Koronny          0      1
ŁUKASZEWICZ, Józef - Historian                          0      1

                                                 Contributors  Issuance type  \
Author
A'BECKETT, Gilbert Abbott.                                  3              3
A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)              1              1
A. A.                                                       1              1
A., A. A.                                                   2              2
A., E. S.                                                   3              3
...                                                       ...            ...
ZURCHER, Frédéric - and MARGOLLÉ (Élie)                 1              1
ZWICK, Heinrich August.                                     1              1
ZWIEDINEK VON SUEDENHORST, Julius.                          1              1
ŻÓŁKIEWSKI, Stanisław - Hetman Wielki Koronny             1              1
ŁUKASZEWICZ, Józef - Historian                             1              1

                                                 Flickr URL  Shelfmarks  \
Author
A'BECKETT, Gilbert Abbott.                                3           3
A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)            1           1
A. A.                                                     1           1
A., A. A.                                                 2           2
A., E. S.                                                 3           3
...                                                     ...         ...
ZURCHER, Frédéric - and MARGOLLÉ (Élie)               1           1
ZWICK, Heinrich August.                                   1           1
ZWIEDINEK VON SUEDENHORST, Julius.                        1           1
ŻÓŁKIEWSKI, Stanisław - Hetman Wielki Koronny           1           1
ŁUKASZEWICZ, Józef - Historian                           1           1

                                                 New Date of Publication
Author
A'BECKETT, Gilbert Abbott.                                             1
A'BECKETT, Gilbert Arthur - and RUDALL (H. A.)                         1
A. A.                                                                  1
A., A. A.                                                              2
A., E. S.                                                              3
...                                                                  ...
ZURCHER, Frédéric - and MARGOLLÉ (Élie)                            1
ZWICK, Heinrich August.                                                1
ZWIEDINEK VON SUEDENHORST, Julius.                                     1
ŻÓŁKIEWSKI, Stanisław - Hetman Wielki Koronny                        1
ŁUKASZEWICZ, Józef - Historian                                        1

[5005 rows x 10 columns]

In [19]:
# verificar se há algum valor nulo em todas as colunas
print(data.isnull().sum())

# substituir os valores nulos da coluna 'Author' por 'Desconhecido
data['Author'] = data['Author'].fillna('Desconhecido')

Identifier                    0
Edition Statement          7514
Place of Publication          0
Publisher                  4195
Title                         0
Author                     1778
Contributors                  0
Issuance type                 0
Flickr URL                    0
Shelfmarks                    0
New Date of Publication     971
dtype: int64